body {
	background-color: rgb(255, 197, 173);
	color: rgb(0, 0, 0);
	font-family: Roboto, serif; 
	font-size: 16px;
	font-weight: 100;
}

h1,h2,p,a{
	letter-spacing: 0px;
}

h1 {
	color: rgb(0, 0, 0);
	font-family: Arial;
	font-weight: lighter; 
	font-size: 40px; 
}

h2 {
	color: rgb(0, 0, 0);
	font-family: Roboto, serif;
	font-weight: lighter;
	font-weight: 600; 
	font-size: 25px; 
}	

a{
	text-decoration: none;
	color: rgb(13, 166, 255);
	font-weight: 100;
}

a:hover{
	background-color: rgb(0, 0, 0);
 }

.container{
	width: 700px;
	margin: 30px auto;
}

@media(max-width: 720px){
	.container{
		width: 550px;
	}
}

@media(max-width: 540px){
	.container{
		width: 350px;
	}
}

.card-white{
	background: rgb(231, 250, 255);
	padding: 30px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin: 40px 0px;
	border: 1.5px solid black;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}

.btn-blue{
	background-color: rgb(13, 166, 255);
	color: white;
	padding: 10px 15px;
	border-radius: 6px;
} 

.btn-blue:hover{
	background-color: black;
	color: white;
}

.list-inline li{
	display: inline;
	padding: 15px;
}

.list-inline i{
	font-size: 40px;
	color: rgb(230; 230; 230);
}

.list-inline i:hover{
	font-size: 40px;
	color: rgb(0; 0; 0);
}

#introduction p{
	margin-bottom: 30px;
} 








